@import "tailwindcss";

@theme {
  --color-primary: #2a7f8e;
  --color-accent: #ff7a59;
  --color-secondary: #7acb7a;
  --color-text-main: #2a2a2a;
  --color-surface: #f7fafc;
  --color-info: #2d6cdf;
}
